@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --color-background: 255 255 255;
  --color-foreground: 10 10 10;
  --color-surface: 255 255 255;
  --color-surface-hover: 245 245 245;
  --color-border: 229 229 229; /* E5E5E5 */
  --color-muted: 245 245 245;
  --color-muted-foreground: 115 115 115;

  --btn-primary-bg: 10 10 10;
  --btn-primary-fg: 255 255 255;
  --btn-primary-hover-bg: 23 23 23;

  --btn-secondary-bg: 255 255 255;
  --btn-secondary-fg: 10 10 10;
  --btn-secondary-hover-bg: 245 245 245;

  --btn-tertiary-bg: 229 229 229;
  --btn-tertiary-fg: 38 38 40;
}

.dark {
  --color-background: 10 10 10; /* 0A0A0A */
  --color-foreground: 250 250 250; /* FAFAFA */
  --color-surface: 23 23 23; /* 171717 */
  --color-surface-hover: 38 38 40; /* 262628 */
  --color-border: 46 46 48;
  --color-muted: 38 38 40; /* 262628 */
  --color-muted-foreground: 163 163 163;

  --btn-primary-bg: 250 250 250; /* FAFAFA */
  --btn-primary-fg: 10 10 10; /* 0A0A0A */
  --btn-primary-hover-bg: 230 230 230;

  --btn-secondary-bg: 10 10 10; /* 0A0A0A */
  --btn-secondary-fg: 255 255 255; /* FFFFFF */
  --btn-secondary-hover-bg: 23 23 23; /* 171717 */

  --btn-tertiary-bg: 38 38 40; /* 262628 */
  --btn-tertiary-fg: 229 229 229; /* E5E5E5 */
}

@theme inline {
  --color-background: rgba(var(--color-background), 1);
  --color-foreground: rgba(var(--color-foreground), 1);

  --color-surface: rgba(var(--color-surface), 1);
  --color-surface-hover: rgb(var(--color-surface-hover), 1);

  --color-border: rgb(var(--color-border), 1);

  --color-muted: rgb(var(--color-muted), 1);
  --color-muted-foreground: rgb(var(--color-muted-foreground), 1);

  --color-primary: rgb(var(--btn-primary-bg), 1);
  --color-primary-foreground: rgb(var(--btn-primary-fg), 1);
  --color-primary-hover: rgb(var(--btn-primary-hover-bg), 1);

  --color-secondary: rgb(var(--btn-secondary-bg), 1);
  --color-secondary-foreground: rgb(var(--btn-secondary-fg), 1);
  --color-secondary-hover: rgb(var(--btn-secondary-hover-bg), 1);

  --color-tertiary: rgb(var(--btn-tertiary-bg), 1);
  --color-tertiary-foreground: rgb(var(--btn-tertiary-fg), 1);

  --color-danger: #ef4444;
  --color-danger-hover: #dc2626;

  --color-accent: #3b82f6;
  --color-like: #ef4444;
}
